astunparse==1.6.3
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
Cython==3.0.2
gast==0.4.0
google-auth==2.23.2
keras==2.10.0
six~=1.15.0
numpy==1.23.5
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==2.0.5
Werkzeug==2.3.7
wheel==0.41.2
wrapt==1.12.1
zipp==3.17.0