tensorflow==2.10.0
wget~=3.2
numpy~=1.26.0
six~=1.16.0
PyYAML~=6.0.1
Pillow~=10.0.1
matplotlib~=3.8.0
setuptools~=49.2.1
h5py~=3.9.0
tensorboard=2.10.0
contextlib2~=21.6.0
ipython~=8.15.0
keras~=2.10.0
lxml~=4.9.3